<div class="bg">
    <div class="container">
        <div class="">
            <p class="home_header">The #1 web app for fitness tracking </p>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="jumbotron">
                <h1 class="display-4">DID YOU KNOW?</h1>
                <p class="lead">The only exercise you should hold your breath for is underwater swimming?</p>
                <p class="lead">Nearly 50% of all young people ages 12-21 are not vigorously active on a daily basis?</p>
                <p class="lead">More than 30% of children ages 6 to 11 are overweight, and over 15% are obese?</p>
                <p class="lead">Exercise makes you feel more energized because it releases endorphins into the blood?</p>
                <p class="lead">Movement in exercise helps relieve stress by producing a relaxation response which serves as a position distraction?</p>
                <hr class="my-4">
                <p>Move and Groove fitness tracker allows you to log your different physical fitness activities. 
                    If you're not already a user, <i><%= link_to 'Register', new_user_registration_path, :class => '' %></i> and <i><%= link_to 'Sign In', new_user_session_path, :class => '' %></i> to your Move and Groove account to keep track of your fitness activities.</p>
                <%= link_to 'Get Started', new_user_registration_path, :class => 'btn btn-primary btn-lg' %>
                </div>
            </div>
        </div>
    </div>
</div>