.footer-banner{
    width: 100%;
    height: 400px;
    color: #fff;
    background-image: url('footer.png');
    background-size: 100% 100%;
    text-align: center;
    overflow: hidden;
}

.footer-section{
    margin-top: 120px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-link a{
    color: #fff;
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.footer-link a:hover{
    text-decoration: none;
}

.social-links a{
    color: #fff;
    font-size: 2rem;
    margin-right: 15px;
}

.footer-section h5 {
    font-weight: 800;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}